html
	head
		title FastER Dashboard
		link(rel="stylesheet", href="stylesheets/dashboard.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
		script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
		script(type="text/javascript" src="javascripts/jquery.uniform.js")
		script(type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js")
		script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6ti9X_NTFEy2taGJRQN7rv1Q_V4MSWro")

		script(type="text/javascript").
			$(document).ready(function() {
				$(".fa-check").live('click', function() {
					$(this).css("color", "#354663");
					console.log($(this).parents()[4]);

					if($(this).parents()[4].id == 'ontheway') {
						var row = $(this).parent().parent();
						$(this).parent().parent().remove();

						changePatientStatus(row.children()[3].textContent, true, false);

						$("#arrived > table").append(row);
						$(this).css("color", "");
					}
					else if($(this).parents()[4].id == 'arrived') {
						var row = $(this).parent().parent();
						$(this).parent().parent().remove();
						changePatientStatus(row.children()[3].textContent, true, true);
					}
				});

				$("add").live('click', function() {
					$("input").uniform();
				});

				$("#submit").live('click', function() {
					var name = $("#form-name").val();
					var phone = $("#form-phone").val();
					var symptoms = $("#form-symptom").val();
					var duration = parseInt($("#form-time").val());

					$("#form-name").val("");
					$("#form-phone").val("");
					$("#form-symptom").val("");
					$("#form-time").val("");

					if(name == null || phone == null) {
						//- 
					} else {
						addPatient(name, phone, "Stanford Hospital", true, true, symptoms, duration);
						getWaitingAtHospital("Stanford Hospital", patientsAtHospital);
					}
				});

				var patientsAtHospital = [];
				var patientsSignedUp = [];

				getWaitingAtHospital("Stanford Hospital", patientsAtHospital);
				getSignedUp("Stanford Hospital", patientsSignedUp);
				//- setInterval(function(){getWaitingAtHospital("Stanford Hospital", patientsAtHospital); console.log("updated")}, 2000);
				setInterval(function(){getSignedUp("Stanford Hospital", patientsSignedUp); console.log("updated")}, 2000);
			});

			function getWaitingAtHospital(hospitalName, patients)
			{
				var PatientObj = Parse.Object.extend("patient");
				var query = new Parse.Query(PatientObj);
				query.equalTo("is_validated", true);
				query.equalTo("at_hospital", true);
				query.equalTo("is_finished", false);
				query.equalTo("hospital", hospitalName);
				query.find({
					success: function(results) {
						console.log("Successfully counted num waiting at hospital "+hospitalName+" : "+results.length);
						for(var i = 0; i < results.length; i++) {
							if($.inArray(results[i].id, patients) === -1) {
								var newRow = "<tr class='patient'><td><i class='fa fa-check'></i></td><td>" + results[i].attributes.name 
													+ "</td><td>" + results[i].attributes.number + "</td><td>" + results[i].id + "</td><td>" + results[i].attributes.symptom 
													+ "</td><td class='duration-content'>" + results[i].attributes.estimate_treatment_duration + " Mins. </td></tr>";
								$("#arrived > table").append(newRow);
								patients.push(results[i].id);
							}
						}
					},
					error: function(error) {
						console.log("Failed to count num waiting at hospital "+hospitalName);
					}
				});
			}

			function getSignedUp(hospitalName, patients)
			{
				var PatientObj = Parse.Object.extend("patient");
				var query = new Parse.Query(PatientObj);
				query.equalTo("is_validated", true);
				query.equalTo("at_hospital", false);
				query.equalTo("is_finished", false);
				query.equalTo("hospital", hospitalName);
				query.find({
					success: function(results) {
						console.log("Successfully counted num waiting at hospital "+hospitalName+" : "+results.length);
						for(var i = 0; i < results.length; i++) {
							if($.inArray(results[i].id, patients) === -1) {
								var newRow = "<tr class='patient'><td><i class='fa fa-check'></i></td><td>" + results[i].attributes.name 
													+ "</td><td>" + results[i].attributes.number + "</td><td>" + results[i].id + "</td></tr>";
								$("#ontheway > table").append(newRow);
								patients.push(results[i].id);
							}
						}
					},
					error: function(error) {
						console.log("Failed to count num waiting at hospital "+hospitalName);
					}
				});
			}

			function changePatientStatus(objectId, at_hospital, is_finished)
			{
				var PatientObj = Parse.Object.extend("patient");
				var query = new Parse.Query(PatientObj);
				query.get(objectId, {
					success: function(patient) {
							patient.set("at_hospital", at_hospital);
							patient.set("is_finished", is_finished);
							patient.save();
							console.log("Successfully updated "+objectId);
					},
					error: function(object, error) {
						console.log("Failed to update "+objectId);
					}
				});
			}

			function addPatient(patientName, number, hospitalName, atHospital, isValidated, sym, ets)
			{
					var PatientObj = Parse.Object.extend("patient");
					var patient = new PatientObj();
					patient.save({
						name: patientName,
						is_validated:isValidated,
						hospital:hospitalName,
						at_hospital:atHospital,
						is_finished: false,
						number: number,
						symptom: sym,
						estimate_treatment_duration: ets}, {
						success: function(object) {
							console.log("Successfully created the patient "+patientName);
						},
						error: function(model, error) {
							console.log("Failed to create the patient "+patientName+" : "+error.message);
						}
					});
			}
	body
		#nav
			#logo 
				aside +
			#hospital-name <i class="fa fa-hospital-o fa-2x"></i> STANFORD HOSPITAL

		#title 
			h1 PATIENT DASHBOARD

		#arrived.patient-list
			h2 ARRIVED <a id="add" href="#openModal">+</a>
			table.patient-table-1
				tr.table-labels
					td.check
					td.name <b>NAME</b>
					td.phone <b>PHONE</b>
					td.health-num <b>HEALTH CARE #</b>
					td.symptoms <b>SYMPTOMS</b>
					td.duration <b>EST. TREATMENT DURATION</b>


		#ontheway.patient-list
			h2 ON THE WAY
			table.patient-table
				tr.table-labels
					td.check
					td.name <b>NAME</b>
					td.phone <b>PHONE</b>
					td.health-num <b>HEALTH CARE #</b>

		#openModal.modalDialog
			div
				h2 Add Patient
				form
					| Name: <input type="text" id="form-name"><br>
					| Phone: <input type="text" id="form-phone"><br>
					| Symptoms: <input type="text" id="form-symptom"><br>
					| Duration: <input type="text" id="form-time"><br>
				a.close#submit(href="#") Submit
				a.close(href="#close" title="Close") Cancel


		<div id="map-canvas"/>

		script(type="text/javascript").
			Parse.initialize("uhsJkbSTYXcb1VuXx3nlmUdfgY5ykgr2FZ5wAXmr", "SG1zzPmObauuOPvqybARBjqbMjeYjKzJmkYerxbz");
			//- initializeGoogleMap();